<div class='units-row'>
  <h3>Yummy pies and donuts for AngularJS</h3>
  <div class="units-row">
    <div class='unit-33 preview-chart'>
      <pie-chart data='data' options='options'></pie-chart>
    </div>
    <div class='unit-33 preview-chart'>
      <pie-chart data='gauge_data' options='gauge_options'></pie-chart>
    </div>
    <div class='unit-33 preview-chart'>
      <pie-chart data='data' options='pie_options'></pie-chart>
    </div>
  </div>
  <div class='unit-100'>
    <h3>What's that ?</h3>
    <p>Built on top of D3.js and AngularJS, <emphasis>n3-charts.pie-chart</emphasis> directive creates beautiful pie charts, donut charts and gauges in AngularJS applications. The result is simple, interactive and beautiful.</p>
    <h3>How to use ?</h3>
    <p>The <a href="http://github.com/n3-charts/pie-chart">GitHub page <i class='icon-external-link'></i></a> contains an exhaustive, comprehensive guide to use the pie-chart directive. For several use cases, please check the <a href="#/examples">examples</a> section.</p>
    <h3>Other stuff</h3>
    <h5>Release notes</h5>
    <span class='label'>1.0.0 (tiny-turtle)</span> <span class='label label-green'>latest</span>
    <ul class="icons-ul">
      <li><i class="icon-li icon-ok"></i>Standard mode</li>
      <li><i class="icon-li icon-ok"></i>Customizable colors</li>
      <li><i class="icon-li icon-ok"></i>Customizable thickness</li>
      <li><i class="icon-li icon-ok"></i>Adaptative & interactive legend</li>
      <li><i class="icon-li icon-ok"></i>Transitions for nice data updates</li>
      <li><i class="icon-li icon-ok"></i>Almost 100% test covered (many thanks to the people behind AngularJS and Jasmine)</li>
    </ul>
    <h5>Who's behind this ?</h5>
    <p>For now, n3-charts is a very young library initiated by <a href="https://github.com/leon"><i class='icon-github'></i> Leon Radley</a>, <a href="https://github.com/warnerandy"><i class='icon-github'></i> Andy Warner</a> and <a href="https://github.com/lorem--ipsum"><i class='icon-github'></i> Sébastien Fragnaud</a>. It all began with line charts (see <a href="http://n3-charts.github.io/line-chart/">here</a>) and we just thought hey, why not pie charts too ? You're very welcome.</p>
  </div>
</div>
